{% extends 'base.html' %} {% block content %}

<h1 class="list-title">Admissions</h1>

<table class="admin-table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>CPR</th>
      <th>School</th>
      <th>Apply</th>
    </tr>
  </thead>
  <tbody>
    {% for admission in admissions_list %}
    <tr>
      <td>{{ admission.first_name }}</td>
      <td>{{ admission.last_name }}</td>
      <td>{{ admission.email }}</td>
      <td>{{ admission.CPR }}</td>
      <td>{{ admission.school }}</td>
      <td>
        <a href="{% url 'admission_session' admission.id%}" >
          Accept
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}