{% extends 'base.html' %} {% load static%}{% block content %}

<div class="tutor-sections-body">
  <div class="tutor-sections-page">
<h1 class="section-header poppins-medium">
  <img class="icon" src="{% static 'icons/registration1.png' %}" alt="" />
  <strong>Courses list</strong>
  <a class="button-lists" href="{% url 'make_course'%}"
    ><button>Add Course</button></a
  >
</h1>

{% if not course %}
    <table class="sections-table">
      <tr>
        <th>Name</th>
        <th>Credit hours</th>
        <th>Schedule type</th>
      </tr>
      {% for course in course_list %}
      <tr>
        <td>{{ course.name }}</td>
        <td>{{ course.credit_hours }}</td>
        <td>{{ course.schedule_type }}</td>
        <td>
          <a href="{% url 'course_detail' course.course_id %}">View</a>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p class="no-sections">No courses found.</p>
    {% endif %}
  </div>
 </div>
</div>

 {% endblock %}
