{% extends 'base.html' %} {% block content %}

<h1 class="list-title">Semesters List</h1>
<a class="button-logins" href="{% url 'make_semester'%}"><button >Add semester</button></a>

<div class="card-grid">
  {% for semester in semester_list %}
  <a href="{% url 'semester_detail' semester.semester_id %}" class="card-link">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ semester.semester_name }}</span>
        <div class="card-details">
          <h3>semester id: {{semester.semester}}</h3>
          <h3>Registration start: {{semester.Registration_start}}</h3>
          <h3>end date: {{semester.end_date}}</h3>
          <h3>is current: {{semester.is_current}}</h3>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

{% endblock %}
