{% extends 'base.html' %} {% block content %} 
<div class="form-container">
  <h1>Make a semester</h1>
  <form action="" method="post" class="form">
    {% csrf_token %} {% for field in form %} {% if field.name != 'is_current' %}
    <div>
      <div>
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
      </div>
    </div>
    {% else %}
    <div class="input-field">
      <p>
        <label>
          <span>{{ field.label }}</span>
          {{ field }}
        </label>
      </p>
    </div>

    {% endif %} {% endfor %}
    <input type="submit" value="Submit" class="btn" />
  </form>
</div>
{% endblock %}
