{% extends 'base.html' %} {% block content %} {% if user.is_superuser %}
<div class="form-container">
  <h1>User Profile</h1>

  <form class="form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %} {{ profile_form.as_p }}
    <input type="submit" value="Submit" class="btn" />
  </form>
</div>

<script>
  let selectGender = document.getElementById('id_gender')
  M.FormSelect.init(selectGender)

  let selectDep = document.getElementById('id_department_id')
  M.FormSelect.init(selectDep)

  let selectType = document.getElementById('id_user_type')
  M.FormSelect.init(selectType)

  let selectStatus = document.getElementById('id_status')
  M.FormSelect.init(selectStatus)
</script>
{% else %}
<h1>NOT ADMIN</h1>
{% endif %} {% endblock %}
