{% extends 'base.html' %} {% load static %} {% include 'admin_panel' %} 
{% block content %} {% if user.is_superuser %}
<div class="dashboard-get-started-section">

  <div class="dashboard-get-started-boxes">
    <a href="{% url 'admin_reg'%}">
      <div class="dashboard-get-started-box">
        <div class="image-container cyan-background">
          <img src="{% static 'icons/Vector.png' %}" alt="" />
        </div>
        <p class="box-title poppins-bold">Register users</p>
      </div>
    </a>
    <a href="{% url 'admindex'%}">
      <div class="dashboard-get-started-box">
        <div class="image-container magenta-background">
          <img src="{% static 'icons/note-2.png' %}" alt="" />
        </div>
        <p class="box-title poppins-bold">All users</p>
      </div>
    </a>
    <a href="{% url 'list_semesters'%}">
      <div class="dashboard-get-started-box">
        <div class="image-container lemon-green-background">
          <img src="{% static 'icons/book.png' %}" alt="" />
        </div>
        <p class="box-title poppins-bold">Semesters</p>
      </div>
    </a>

    <a href="{% url 'List_courses'%}">
      <div class="dashboard-get-started-box">
        <div class="image-container magenta-background">
          <img src="{% static 'icons/archive-book.png' %}" alt="" />
        </div>
        <p class="box-title poppins-bold">Courses</p>
      </div>
    </a>

    <a href="{% url 'list_sections'%}">
      <div class="dashboard-get-started-box">
        <div class="image-container lemon-green-background">
          <img src="{% static 'icons/Vector.png' %}" alt="" />
        </div>
        <p class="box-title poppins-bold">Sections</p>
      </div>
    </a>
    <a href="{% url 'admin_admission'%}">
      <div class="dashboard-get-started-box">
        <div class="image-container lemon-green-background">
          <img src="{% static 'icons/Vector.png' %}" alt="" />
        </div>
        <p class="box-title poppins-bold">Admissions</p>
      </div>
    </a>
  </div>
</div>

{% endif %} {% endblock %}
