{% extends 'base.html' %} {% load static %} {% block admin_nav %} 
{% if user.is_superuser %}
<p>Administrative</p>
<a href="{% url 'admin_reg'%}">
  <button class="poppins-semibold">
    <img src="{% static 'icons/Vector.png' %}" alt="Faculty Icon" />register
    student
  </button></a
>

<a href="{% url 'admindex'%}">
  <button class="poppins-semibold">
    <img src="{% static 'icons/Vector.png' %}" alt="Faculty Icon" />See users
  </button></a
>

<a href="{% url 'make_semester'%}">
  <button class="poppins-semibold">
    <img src="{% static 'icons/Vector.png' %}" alt="Faculty Icon" />Make a
    semester
  </button></a
>
<a href="{% url 'list_semester'%}">
  <button class="poppins-semibold">
    <img src="{% static 'icons/Vector.png' %}" alt="Faculty Icon" />list
    semesters
  </button></a
>
{% endif %} {% endblock %} 
{% block content %} {% if user.is_superuser %}

<h1>Hello {{user.username}}</h1>
<h1>ID: {{user.profile.user_id}}</h1>
{% endif %} {% endblock %}
