{% extends 'base.html' %} {% block content %} {% for profile in profiles%}
<tr>
  <td>{{ profile.id}}</td>
  <td>{{ profile.user_id}}</td>
  <td>{{ profile.first_name }}</td>
  <td>{{ profile.last_name }}</td>
  <td>{{ profile.academic_number }}</td>
  <td>{{ profile.dob }}</td>
  <td>{{ profile.gender }}</td>
  <td>{{ profile.profession }}</td>
  <td>{{ profile.major }}</td>
  <td>{{ profile.school }}</td>
  <td>{{ profile.current_semester }}</td>
  <td>{{ profile.gpa }}</td>
  <td>{{ profile.status }}</td>
  <td>{{ profile.email }}</td>
  <br />
</tr>
<br />
{% endfor %} {% endblock %}
