{% extends 'base.html' %} {% load static %} {% block content %}
<div class="dashboard-get-started-section">
  <p>Get Started ...</p>
  <div class="dashboard-get-started-boxes">
    <div class="dashboard-get-started-box">
      <div class="image-container cyan-background">
        <img src="{% static 'icons/Vector.png' %}" alt="" />
      </div>
      <p class="box-title poppins-bold">Student Lookup</p>
      <p class="box-description roboto">
        Write something about course registration here, thanks
      </p>
    </div>
    <div class="dashboard-get-started-box">
      <div class="image-container magenta-background">
        <img src="{% static 'icons/note-2.png' %}" alt="" />
      </div>
      <p class="box-title poppins-bold">Attendance Sheet</p>
      <p class="box-description roboto">
        Write something about course registration here, thanks
      </p>
    </div>
    <div class="dashboard-get-started-box">
      <div class="image-container yellow-background">
        <img src="{% static 'icons/menu-board.png' %}" alt="" />
      </div>
      <p class="box-title poppins-bold">Assigned Sections</p>
      <p class="box-description roboto">
        Write something about course registration here, thanks
      </p>
    </div>
    <div class="dashboard-get-started-box">
      <div class="image-container lemon-green-background">
        <img src="{% static 'icons/book.png' %}" alt="" />
      </div>
      <p class="box-title poppins-bold">Assign Grades</p>
      <p class="box-description roboto">
        Write something about course registration here, thanks
      </p>
    </div>
  </div>
</div>
{% endblock %}
