{% extends 'base.html' %} {% load static %} {% block content %}
<head>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<div class="tutor-sections-body">
<div class="tutor-sections-page">
  <h1 class="section-header poppins-medium">
    <img class="icon" src="{% static 'icons/registration1.png' %}" alt="" />
    <strong>Assign Grades</strong>
  </h1>

  {% if not sections %}
  <p>No sections assigned to you for grading.</p>
  {% else %}
  <table class="sections-table">
    <tr>
      <th>Course Name</th>
      <th>CRN</th>
      <th>Students</th>
      <th>Action</th>
    </tr>

    {% for section in sections %}
    <tr>
      <td>{{ section.course.name }}</td>
      <td>{{ section.crn }}</td>
      <td>{{ section.student_registration_set.count }}</td>
      <td>
        <a href="{% url 'grade_students' section.crn %}">Grade students</a>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>

{% endblock %}
