{% extends 'base.html' %} {% load static %}  {% block content %}
<head>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<div class="tutor-sections-body">
<div class="tutor-sections-page">
  <h1 class="section-header poppins-medium">
    <img class="icon" src="{% static 'icons/registration1.png' %}" alt="" />
    <strong>Student Lookup</strong>
  </h1>

{% if students %}
<table class="sections-table">
  <tr>
    <th>Academic ID</th>
    <th>Name</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  {% for student in students %}
  <tr>
    <td>{{ student.academic_number }}</td>
    <td>{{ student.first_name }} {{ student.last_name }}</td>
    <td>{{ student.status }}</td>
    <td>
      <a href="{% url 'student_detail' student.student_detail_id %}">View</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p class="no-sections">No students found.</p>
`
{% endif %}
</div>
</div>
{% endblock %}
