{% extends 'base.html' %} {% load static %}{% block content %}

<div class="tutor-sections-body">
  <div class="tutor-sections-page">
<h1 class="section-header poppins-medium">
  <img class="icon" src="{% static 'icons/registration1.png' %}" alt="" />
  <strong>Section list</strong>
  <a class="button-lists" href="{% url 'make_section'%}"
    ><button>Add section</button></a
  >
</h1>

{% if not section %}
    <table class="sections-table">
      <tr>
        <th>CRN</th>
        <th>Schedule Type</th>
        <th>ِAction</th>
      </tr>
      {% for section in section_list %}
      <tr>
        <td>{{ section.crn }}</td>
        <td>{{ section.schedule_type }}</td>
        <td>
          <a href="{% url 'section_detail' section.crn %}">View</a>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p class="no-sections">No sections found.</p>
    {% endif %}
  </div>
 </div>
</div>

 {% endblock %}
