{% extends 'base.html' %} {% load static %} {% block content %}

<div class="tutor-sections-body">
  <div class="tutor-sections-page">
<h1 class="section-header poppins-medium">
  <img class="icon" src="{% static 'icons/registration1.png' %}" alt="" />
  <strong>Semester list</strong>
  <a class="button-lists" href="{% url 'make_semester'%}"
    ><button>Add semester</button></a
  >
</h1>


{% if not semester %}
    <table class="sections-table">
      <tr>
        <th>Semester id</th>
        <th>Year</th>
        <th>Registration start</th>
        <th>Registration end</th>
      </tr>
      {% for semester in semester_list %}
      <tr>
        <td>{{ semester.semester_id }}</td>
        <td>{{ semester.year }}</td>
        <td>{{ semester.registration_start }}</td>
        <td>{{ semester.registration_end }}</td>
        <td>
          <a href="{% url 'semester_detail' semester.semester_id %}">View</a>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p class="no-sections">No Semesters found.</p>
    {% endif %}
  </div>
 </div>
</div>

 {% endblock %}
