{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="enrolle-courses-page">
    <h1 class="reg-registration-section-header"><img src="{% static 'icons/registration1.png'%}" alt="">Enrolled Courses</h1>
    <table class="reg-registration-table">
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Instructor</th>
        <th>Time</th>
        <th>CRN</th>
        <th>Location</th>
        <th>Seats</th>
        <th>Actions</th>
      </tr>
    </tr>
    
    {% for section in registeredSections.all %}
    <tr>
      <td>{{section.course.department.department_code}}{{section.course.code}}</td>
      <td>{{section.course.name}}</td>
      <td>{{section.tutor.username}}</td>
      <td>{% for schedule in section.section_schedules_set.all %}
        <p>{{schedule.day_of_week}} {{schedule.time.start_time}}-{{schedule.time.end_time}}</p>
        {% endfor %}
      </td>
      <td>{{section.crn}}</td>
      <td>{% for schedule in section.section_schedules_set.all %}
        <p>{{schedule.location.building_code}} {{schedule.location.room_number}}</p>
        {% endfor %}</td>
        <td>{{configs.Section_limit}}/{{section.student_registration_set.all|length}}</td>
        <td>
            <a href="{% url 'student-registration' %}">Registration</a>
        </td>
      </tr>
      {% endfor %}
      <tr>
        <td>Total Registered Credits: {{user.profile.total_credits_earned}}</td>
      </tr>
    </table>
  </div>

{% endblock %}