{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/calender.css' %}" />

  <div class="reg-registration-section">
    <div class="reg-registration-table">
      <h1 class="reg-registration-section-header"><img src="{% static 'icons/registration1.png'%}" alt="">Registration</h1>
      <div class="reg-registration-filters">
        <div class="reg-registration-filter">
          <p>Department: </p>
          <select id="department-filter-select">
            <option value="none">none</option>
          </select>
        </div>
        <div class="reg-registration-filter">
          <p>Code: </p>
          <select id="code-filter-select">
            <option value="none">none</option>
          </select>
        </div>
        <div class="reg-registration-search">
          <input type="text" id="reg-registration-search">
          <img src="{% static 'icons/glasses.png'%}" alt="">
        </div>
      </div>
      <table class="reg-registration-table">
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Instructor</th>
          <th>Time</th>
          <th>CRN</th>
          <th>Location</th>
          <th>Seats</th>
          <th>Actions</th>
        </tr>
      </tr>
      
      {% for section in unregisteredSections %}
      <tr data-unregisteredcourse="" data-department="{{section.course.department.department_code}}" data-code="{{section.course.code}}" data-crn="{{section.crn}}">

        <td>{{section.course.department.department_code}}{{section.course.code}}</td>
        <td>{{section.course.name}}</td>
        <td>{{section.tutor.username}}</td>
        <td>{% for schedule in section.section_schedules_set.all %}
          <p>{{schedule.day_of_week}} {{schedule.time.start_time}}-{{schedule.time.end_time}}</p>
          {% endfor %}
        </td>
        <td>{{section.crn}}</td>
        <td>{% for schedule in section.section_schedules_set.all %}
          <p>{{schedule.location.building_code}} {{schedule.location.room_number}}</p>
          {% endfor %}
        </td>
        <td>{{configs.Section_limit}}/{{section.student_registration_set.all|length}}</td>
        <td>
          {% if configs.Section_limit == section.student_registration_set.all|length %}
          <p>Full</p>
          {%elif user.profile.total_credits_earned == configs.credits_limit %}
          <p>No enough credits</p>
          {%else%}  
          <form action="{% url 'section_register' section.crn user.id %}" method="post">
            {% csrf_token%}
            <button class="reg-registration-table-add-button" type="submit">Add</button>
          </form>
          {%endif %}
        </td>
      </tr>
      {% endfor %}
      
    </table>
    <div class="unregisteredSections-navigations">{% for num in unregisteredSections.paginator.page_range %}
            {% if unregisteredSections.number == num %}
                <strong>{{ num }}</strong>
            {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
</div>
  </div>
  
  <div>
    <h1 class="reg-registration-section-header"><img src="{% static 'icons/registration1.png'%}" alt="">Enrolled Courses</h1>
    <table class="reg-registration-table">
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Instructor</th>
        <th>Time</th>
        <th>CRN</th>
        <th>Location</th>
        <th>Seats</th>
        <th>Actions</th>
      </tr>
    </tr>
    
    {% for section in registeredSections.all %}
    <tr>
      <td>{{section.course.department.department_code}}{{section.course.code}}</td>
      <td>{{section.course.name}}</td>
      <td>{{section.tutor.username}}</td>
      <td>{% for schedule in section.section_schedules_set.all %}
        <p>{{schedule.day_of_week}} {{schedule.time.start_time}}-{{schedule.time.end_time}}</p>
        {% endfor %}
      </td>
      <td>{{section.crn}}</td>
      <td>{% for schedule in section.section_schedules_set.all %}
        <p>{{schedule.location.building_code}} {{schedule.location.room_number}}</p>
        {% endfor %}</td>
        <td>{{configs.Section_limit}}/{{section.student_registration_set.all|length}}</td>
        <td>
          <form action="{% url 'section_deregister' section.crn user.id %}" method="post">
            {% csrf_token%}
            <button type="submit" class="reg-registration-table-remove-button">Remove</button>
          </form>
        </td>
      </tr>
      {% endfor %}
      <tr>
        <td>Total Registered Credits: {{user.profile.total_credits_earned}}</td>
      </tr>
    </table>
  </div>
  
</div>
  <div class="reg-calender">
    <h1 class="reg-registration-section-header"><img src="{% static 'icons/registration1.png'%}" alt="">Registration</h1>
    <div class="reg-calender-calender-grid">
      <!-- DAYS  -->
      <p class="calender-days ">Week</p>
      <p class="calender-days">Sun</p>
      <p class="calender-days">Mon</p>
      <p class="calender-days">Tue</p>
      <p class="calender-days">Wed</p>
      <p class="calender-days">Thu</p>
      <p class="calender-days">Fri</p>
      <p class="calender-days">Sat</p>
      
      <!-- HOURS -->
      <p class="calender-hours">8:00</p>
      
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">9:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">10:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">11:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">12:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">13:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">14:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">15:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">16:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">17:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">18:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">19:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">20:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      
      <!-- EVENTS -->
      {% for registration in user.student_registration_set.all %}
        {% for event in registration.crn.section_schedules_set.all  %}
        <div class="reg-calender-event day-{{event.day_of_week}} hour-start-{{event.time.start_time.hour}}-{% if event.time.start_time.minute == 0 %}00{% elif event.time.start_time.minute <= 20 %}20{%elif event.time.start_time.minute <= 40 %}40{%else%}60{%endif%} hour-end-{{event.time.end_time.hour}}-{% if event.time.end_time.minute == 0 %}00{% elif event.time.end_time.minute <= 20 %}20{%elif event.time.end_time.minute <= 40 %}40{%else%}60{%endif%}">
            <p class="montserrat-medium">{{registration.crn.course.name}}</p>
            <div class="reg-event-time">
              <img src="{% static 'icons/clock.png' %}" alt="">
              <p class="montserrat-regular">{{event.time.start_time.hour}}:{{event.time.start_time.minute}} - {{event.time.end_time.hour}}:{{event.time.end_time.minute}}</p>
            </div>
         </div>
        {% endfor %}
      {%endfor%}
    </div>
  </div>

  <script>
    let uniqueValues = (query, value)=>{
      const objectsList = document.querySelectorAll(query)
      let values = []
      for(let i =0; i < objectsList.length;i++){
        values.push(objectsList[i]['dataset'][value])
      }
      values = values.filter((value,index,array)=>{
        return array.indexOf(value) === index;
      })
      console.log(values)
      return values
    }

    let allsections = document.querySelectorAll('[data-unregisteredcourse]')
    let departmentsList = uniqueValues('[data-unregisteredcourse][data-department]','department')
    let codesList = uniqueValues('[data-unregisteredcourse][data-department]','code') 

    let searchFilter = document.querySelector('#reg-registration-search')
    let codeFilterSelect = document.querySelector('#code-filter-select')
    let departmentFilterSelect = document.querySelector('#department-filter-select')
    

    const applyFilters = () =>{
      if (departmentFilterSelect.value === 'none' 
      && codeFilterSelect.value === 'none' 
      && searchFilter.value === ''){
        for (let i = 0; i < allsections.length; i++){
          allsections[i].style.display = 'table-row'
        }
        return
      }
      
      for (let i = 0; i < allsections.length; i++){
        allsections[i].style.display = 'none'
      }
      

      for (let i = 0; i < allsections.length; i++){
        if ((departmentFilterSelect.value !== 'none' && allsections[i].dataset.department !== departmentFilterSelect.value) 
        || (codeFilterSelect.value !== 'none' && allsections[i].dataset.code !== codeFilterSelect.value )
        || (searchFilter.value && allsections[i].dataset.crn !== searchFilter.value) ){
        }else{
          allsections[i].style.display = 'table-row'
        }
        }
    }


    for (let i = 0; i < departmentsList.length; i++){
      console.log(departmentsList[i])
      departmentFilterSelect.innerHTML += `<option value="${departmentsList[i]}">${departmentsList[i]}</option>`
    }

    for (let i = 0; i < codesList.length; i++){
      codeFilterSelect.innerHTML += `<option value="${codesList[i]}">${codesList[i]}</option>`
    }
    
    departmentFilterSelect.addEventListener("change",(event)=>{
      applyFilters()
    })

    codeFilterSelect.addEventListener("change",(event)=>{
      applyFilters()
    })
    
    searchFilter.addEventListener("change",(event)=>{
      applyFilters()
    })

</script>

{% endblock %}
