{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/calender.css' %}" />
<script>
  // string = 10:50 a.m.
      const getHour = (string) =>{
        if (string){
          
          return string.split(" ")[1][0] === 'a'? string.split(":")[0]: Number(string.split(":")[0]) + 12 
        }else return 
      }
      
      const getMinute= (string) =>{
        if (string){
          return string.split(" ")[0].split(":")[1] 
        }else return
      }
      
      const convertMinute = (string) =>{        
        if (string){
          const minutes = Number(getMinute(string))
          if (minutes < 20){
            return "20"
          }else if(minutes < 40) {
            return "40"
         } else {
            return "60"

          }
        }else return
      }


      const addConflict = (department_code,course_code,course_name,tutor_username,schedules,section_crn,section_limit,registered_students_count) => {
      let registeredSectionElement =`
      <tr data-registeredcourse="" data-department="${department_code}" data-code="${course_code}" data-crn="${section_crn}">
        <td>${department_code}${course_code}</td>
        <td>${course_name}</td>
        <td>${tutor_username}</td>
        <td>`
          // expected object: 
          // schedules = [{day_of_week, start_time,end_time,building_code,room_number}]
          
          schedules.forEach(schedule => {
            registeredSectionElement += `<p>${schedule.day_of_week} ${schedule.start_time}-${schedule.end_time}</p>`
          });
          
          registeredSectionElement += `</td>
          <td>${section_crn}</td>
          <td>
            `
            
            schedules.forEach(schedule => {
              registeredSectionElement += `<p>${schedule.building_code} ${schedule.room_number}</p>`
            });
            
            registeredSectionElement += `
            </td>
            <td>${section_limit}/${registered_students_count}</td>
            <td>
              <button class="reg-registration-table-conflict-button" onclick="removeConflict('${department_code}','${course_code}', '${course_name}','${section_crn}')">Remove</button>
              </td>
              </tr>`
              
              document.querySelector('#registered-courses-table tr:nth-of-type(1)').insertAdjacentHTML("afterend",registeredSectionElement)
              document.querySelector(`[data-unregisteredcourse][data-department="${department_code}"][data-code="${course_code}"][data-crn="${section_crn}"]`).style.display = "none"
              
              // schedules = [{day_of_week, start_time,end_time,building_code,room_number}]
              
              
              for (let i = 0;i < schedules.length;i++){
                document.querySelector('#reg-calender-calender-grid').innerHTML +=`
                
            <div class="reg-conflict-event day-${schedules[i].day_of_week} hour-start-${getHour(schedules[i].start_time)}-${convertMinute(schedules[i].start_time)} hour-end-${getHour(schedules[i].end_time)}-${convertMinute(schedules[i].end_time)}" data-conflictevent="" data-crn="${section_crn}">
            <p class="montserrat-medium">${course_name}</p>
            <div class="reg-event-time">
              <img src="{% static 'icons/clock.png' %}" alt
              ="">
              <p class="montserrat-regular">${getHour(schedules[i].start_time)}:${getMinute(schedules[i].start_time)} - ${getHour(schedules[i].end_time)}:${getMinute(schedules[i].end_time)}</p>
            </div>
         </div>
         `
            }

              
      
    }
    
    const removeConflict = (department_code, course_code, course_name, section_crn) => {
      
      document.querySelector(`[data-unregisteredcourse][data-department="${department_code}"][data-code="${course_code}"][data-crn="${section_crn}"]`).style.display = "table-row"
      document.querySelector(`[data-registeredcourse][data-department="${department_code}"][data-code="${course_code}"][data-crn="${section_crn}"]`).remove()

      document.querySelectorAll(`[data-conflictevent][data-crn='${section_crn}']`).forEach((element)=>{
        element.remove()
      })
      
    }

</script>
  <div class="reg-registration-section">
    <div class="reg-registration-table">
      <h1 class="reg-registration-section-header"><img src="{% static 'icons/registration1.png'%}" alt="">Registration</h1>
      <div class="reg-registration-filters">
        <div class="reg-registration-filter">
          <p>Department: </p>
          <select id="department-filter-select">
            <option value="none">none</option>
          </select>
        </div>
        <div class="reg-registration-filter">
          <p>Code: </p>
          <select id="code-filter-select">
            <option value="none">none</option>
          </select>
        </div>
        <div class="reg-registration-search">
          <input type="text" id="reg-registration-search">
          <img src="{% static 'icons/glasses.png'%}" alt="">
        </div>
      </div>
      <table class="reg-registration-table">
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Instructor</th>
          <th>Time</th>
          <th>CRN</th>
          <th>Location</th>
          <th>Seats</th>
          <th>Actions</th>
        </tr>
      </tr>
      
      {% for section in unregisteredSections %}
      <tr data-unregisteredcourse="" data-department="{{section.course.department.department_code}}" data-code="{{section.course.code}}" data-crn="{{section.crn}}">

        <td>{{section.course.department.department_code}}{{section.course.code}}</td>
        <td>{{section.course.name}}</td>
        <td>{{section.tutor.username}}</td>
        <td>{% for schedule in section.section_schedules_set.all %}
          <p>{{schedule.day_of_week}} {{schedule.time.start_time}}-{{schedule.time.end_time}}</p>
          {% endfor %}
        </td>
        <td>{{section.crn}}</td>
        <td>{% for schedule in section.section_schedules_set.all %}
          <p>{{schedule.location.building_code}} {{schedule.location.room_number}}</p>
          {% endfor %}
        </td>
        <td>{{configs.Section_limit}}/{{section.student_registration_set.all|length}}</td>
        <td>
          {% if configs.Section_limit == section.student_registration_set.all|length %}
          <p>Full</p>
          {%elif user.profile.total_credits_earned == configs.credits_limit %}
          <p>No enough credits</p>
          {%elif section.conflict%}
            <button class="reg-registration-table-conflict-button" onclick="addConflict('{{section.course.department.department_code}}','{{section.course.code}}','{{section.course.name}}','{{section.tutor.username}}',[{% for schedule in section.section_schedules_set.all %}{day_of_week:'{{schedule.day_of_week}}',start_time:'{{schedule.time.start_time}}',end_time:'{{schedule.time.end_time}}', building_code:'{{schedule.location.building_code}}',room_number:'{{schedule.location.room_number}}' },{% endfor %}],'{{section.crn}}','{{configs.Section_limit}}','{{section.student_registration_set.all|length}}')">Conflict</button>
          {%else%}
          <form action="{% url 'section_register' section.crn user.id %}" method="post">
            {% csrf_token%}
            <button class="reg-registration-table-add-button" type="submit">Add</button>
          </form>
          {%endif %}
        </td>
      </tr>
      {% endfor %}
      
    </table>
    <div class="unregisteredSections-navigations">{% for num in unregisteredSections.paginator.page_range %}
            {% if unregisteredSections.number == num %}
                <strong>{{ num }}</strong>
            {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
</div>
  </div>
  
  <div>
    <h1 class="reg-registration-section-header"><img src="{% static 'icons/registration1.png'%}" alt="">Enrolled Courses</h1>
    <table class="reg-registration-table" id="registered-courses-table">
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Instructor</th>
        <th>Time</th>
        <th>CRN</th>
        <th>Location</th>
        <th>Seats</th>
        <th>Actions</th>
      </tr>
    </tr>
    
    {% for section in registeredSections.all %}
    <tr>
      <td>{{section.course.department.department_code}}{{section.course.code}}</td>
      <td>{{section.course.name}}</td>
      <td>{{section.tutor.username}}</td>
      <td>{% for schedule in section.section_schedules_set.all %}
        <p>{{schedule.day_of_week}} {{schedule.time.start_time}}-{{schedule.time.end_time}}</p>
        {% endfor %}
      </td>
      <td>{{section.crn}}</td>
      <td>{% for schedule in section.section_schedules_set.all %}
        <p>{{schedule.location.building_code}} {{schedule.location.room_number}}</p>
        {% endfor %}</td>
        <td>{{configs.Section_limit}}/{{section.student_registration_set.all|length}}</td>
        <td>
          <form action="{% url 'section_deregister' section.crn user.id %}" method="post">
            {% csrf_token%}
            <button type="submit" class="reg-registration-table-remove-button">Remove</button>
          </form>
        </td>
      </tr>
      {% endfor %}
      <tr>
        <td>Total Registered Credits: {{user.profile.total_credits_earned}}</td>
      </tr>
    </table>
  </div>
  
</div>
  <div class="reg-calender">
    <h1 class="reg-registration-section-header"><img src="{% static 'icons/registration1.png'%}" alt="">Registration</h1>
    <div class="reg-calender-calender-grid" id="reg-calender-calender-grid">
      <!-- DAYS  -->
      <p class="calender-days ">Week</p>
      <p class="calender-days">Sun</p>
      <p class="calender-days">Mon</p>
      <p class="calender-days">Tue</p>
      <p class="calender-days">Wed</p>
      <p class="calender-days">Thu</p>
      <p class="calender-days">Fri</p>
      <p class="calender-days">Sat</p>
      
      <!-- HOURS -->
      <p class="calender-hours">8:00</p>
      
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">9:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">10:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">11:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">12:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">13:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">14:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">15:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">16:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">17:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">18:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">19:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">20:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      
      <!-- EVENTS -->
      {% for registration in user.student_registration_set.all %}
        {% for event in registration.crn.section_schedules_set.all  %}
        <div class="reg-calender-event day-{{event.day_of_week}} hour-start-{{event.time.start_time.hour}}-{% if event.time.start_time.minute == 0 %}00{% elif event.time.start_time.minute <= 20 %}20{%elif event.time.start_time.minute <= 40 %}40{%else%}60{%endif%} hour-end-{{event.time.end_time.hour}}-{% if event.time.end_time.minute == 0 %}00{% elif event.time.end_time.minute <= 20 %}20{%elif event.time.end_time.minute <= 40 %}40{%else%}60{%endif%}">
            <p class="montserrat-medium">{{registration.crn.course.name}}</p>
            <div class="reg-event-time">
              <img src="{% static 'icons/clock.png' %}" alt="">
              <p class="montserrat-regular">{{event.time.start_time.hour}}:{{event.time.start_time.minute}} - {{event.time.end_time.hour}}:{{event.time.end_time.minute}}</p>
            </div>
         </div>
        {% endfor %}
      {%endfor%}
    </div>
  </div>

  <script defer>
    let uniqueValues = (query, value)=>{
      const objectsList = document.querySelectorAll(query)
      let values = []
      for(let i =0; i < objectsList.length;i++){
        values.push(objectsList[i]['dataset'][value])
      }
      values = values.filter((value,index,array)=>{
        return array.indexOf(value) === index;
      })
      return values
    }

    

    let allsections = document.querySelectorAll('[data-unregisteredcourse]')
    let departmentsList = uniqueValues('[data-unregisteredcourse][data-department]','department')
    let codesList = uniqueValues('[data-unregisteredcourse][data-department]','code') 

    let searchFilter = document.querySelector('#reg-registration-search')
    let codeFilterSelect = document.querySelector('#code-filter-select')
    let departmentFilterSelect = document.querySelector('#department-filter-select')
    

    const applyFilters = () =>{
      if (departmentFilterSelect.value === 'none' 
      && codeFilterSelect.value === 'none' 
      && searchFilter.value === ''){
        for (let i = 0; i < allsections.length; i++){
          allsections[i].style.display = 'table-row'
        }
        return
      }
      
      for (let i = 0; i < allsections.length; i++){
        allsections[i].style.display = 'none'
      }
      
      for (let i = 0; i < allsections.length; i++){
        if ((departmentFilterSelect.value !== 'none' && allsections[i].dataset.department !== departmentFilterSelect.value) 
        || (codeFilterSelect.value !== 'none' && allsections[i].dataset.code !== codeFilterSelect.value )
        || (searchFilter.value && allsections[i].dataset.crn !== searchFilter.value) ){
        }else{
          allsections[i].style.display = 'table-row'
        }
        }
    }


    for (let i = 0; i < departmentsList.length; i++){
      departmentFilterSelect.innerHTML += `<option value="${departmentsList[i]}">${departmentsList[i]}</option>`
    }

    for (let i = 0; i < codesList.length; i++){
      codeFilterSelect.innerHTML += `<option value="${codesList[i]}">${codesList[i]}</option>`
    }
    
    departmentFilterSelect.addEventListener("change",(event)=>{
      applyFilters()
    })

    codeFilterSelect.addEventListener("change",(event)=>{
      applyFilters()
    })
    
    searchFilter.addEventListener("change",(event)=>{
      applyFilters()
    })

</script>

{% endblock %}
