{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/calender.css' %}" />
  <div class="reg-calender">
    <h1 class="reg-registration-section-header"><img src="{% static 'icons/registration1.png'%}" alt="">Registration</h1>
    <div class="reg-calender-calender-grid">
      <!-- DAYS  -->
      <p class="calender-days ">Week</p>
      <p class="calender-days">Sun</p>
      <p class="calender-days">Mon</p>
      <p class="calender-days">Tue</p>
      <p class="calender-days">Wed</p>
      <p class="calender-days">Thu</p>
      <p class="calender-days">Fri</p>
      <p class="calender-days">Sat</p>
      
      <!-- HOURS -->
      <p class="calender-hours">8:00</p>
      
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">9:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">10:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">11:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">12:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">13:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">14:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">15:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">16:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">17:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">18:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">19:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours">20:00</p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      <p class="calender-hours"></p>
      
      <!-- EVENTS -->
      {% for registration in user.student_registration_set.all %}
        {% for event in registration.crn.section_schedules_set.all  %}
        <div class="reg-calender-event day-{{event.day_of_week}} hour-start-{{event.time.start_time.hour}}-{% if event.time.start_time.minute == 0 %}00{% elif event.time.start_time.minute <= 20 %}20{%elif event.time.start_time.minute <= 40 %}40{%else%}60{%endif%} hour-end-{{event.time.end_time.hour}}-{% if event.time.end_time.minute == 0 %}00{% elif event.time.end_time.minute <= 20 %}20{%elif event.time.end_time.minute <= 40 %}40{%else%}60{%endif%}">
            <p class="montserrat-medium">{{registration.crn.course.name}}</p>
            <div class="reg-event-time">
              <img src="{% static 'icons/clock.png' %}" alt="">
              <p class="montserrat-regular">{{event.time.start_time.hour}}:{{event.time.start_time.minute}} - {{event.time.end_time.hour}}:{{event.time.end_time.minute}}</p>
            </div>
         </div>
        {% endfor %}
      {%endfor%}
    </div>
  </div>

{% endblock %}
