{% extends 'base.html' %} {% block content %} {% if user.is_superuser %}
<h3>User Profile</h3>
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <hr />
  <h4>{{profile.first_name}}</h4>
  {{ profile_form.as_table }}
  <button type="submit">Create Profile</button>
</form>

<script>
  let dateEl = document.getElementById('id_dob')
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true,
    changeYear: true
  })

  let selectGender = document.getElementById('id_gender')
  M.FormSelect.init(selectGender)

  let selectDep = document.getElementById('id_department_id')
  M.FormSelect.init(selectDep)

  let selectType = document.getElementById('id_user_type')
  M.FormSelect.init(selectType)

  let selectStatus = document.getElementById('id_status')
  M.FormSelect.init(selectStatus)
</script>
{% else %}
<h1>NOT ADMIN</h1>
{% endif %} {% endblock %}
